@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>

    @using System.Web.Optimization
    @model eUseControl.Domain.Entities.User.UserLogin
    <section class="vh-100" style="background-color: #d6d6d6;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Login</h3>

                            @using (Html.BeginForm("Index", "Auth", FormMethod.Post, new { @class = "form-signin", @id = "LoginForm" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-outline mb-2">
                                    @Html.TextBoxFor(m => m.Credential, new { @class = "form-control form-control-lg", placeholder = "example@gmail.com", title = "Please enter your username" })
                                    @Html.LabelFor(m => m.Credential, htmlAttributes: new { @class = "form-label" })
                                </div>

                                <div class="form-outline mb-4">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-lg", type = "password", placeholder = "********", title = "Please enter your password" })
                                    @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "form-label" })
                                </div>

                                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                            }

                            <div class="text-center mt-3">
                                <a href="register.html">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section Scripts>
        @Scripts.Render("~/bundles/validation/js")

        <script type="text/javascript">
            $(function () {
                $("#LoginForm").validate({
                    rules: {
                        Credential: {
                            required: true,
                            email: true // Assuming Credential is an email.
                        },
                        Password: {
                            required: true
                        }
                    },
                    submitHandler: function (form) {
                        form.submit();
                    },
                    errorPlacement: function (error, element) {
                        error.addClass('invalid-feedback');
                        if (element.prop('type') === 'checkbox') {
                            error.insertAfter(element.next('label'));
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    highlight: function (element) {
                        $(element).addClass('is-invalid');
                    },
                    unhighlight: function (element) {
                        $(element).removeClass('is-invalid');
                    }
                });
            });
        </script>
    </section>
</body>
</html>
