@model IEnumerable<eUseControl.Domain.Entities.Product.Product>

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container py-5">
        <div class="row">
            <!-- Categories, left out for brevity -->
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid" src="@Url.Content(item.ImagePath)">
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">
                                            <li><a href="@Url.Action("ShopSingle", "Home", new { id = item.Id })" class="nav-link"><i class="far fa-heart"></i></a></li>
                                            <li><a href="@Url.Action("ShopSingle", "Home", new { id = item.Id })" class="nav-link"><i class="far fa-eye"></i></a></li>
                                            <li><a href="@Url.Action("AddToCart", "Cart", new { id = item.Id })" class="nav-link"><i class="fas fa-cart-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="@Url.Action("ShopSingle", "Home", new { id = item.Id })" class="h3 text-decoration-none">@item.Name</a>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-1">
                                        <li class="pt-2">
                                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        </li>
                                    </ul>
                                    <p class="text-center mb-0">$@item.Price</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
